@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Cart">
            <i class="bi bi-cart3"></i> Cart
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="bi bi-person-circle"></i> @User.Identity?.Name
        </a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark">
                <i class="bi bi-box-arrow-right"></i> Logout
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Register">
            <i class="bi bi-person-plus"></i> Register
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Login">
            <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
    </li>
}
</ul> 