@page
@model Superwish_FSD04_AppDevII_ASP.NET_Project.Pages.Admin.IndexModel
@{
}
<h3> Admin index page </h3>
<ul>
    <li><a class="nav-link" asp-area="" asp-page="/Admin/Items/Index">Manage items.</a></li>
</ul>