@page
@model Superwish_FSD04_AppDevII_ASP.NET_Project.Pages.LogoutModel
@{
  ViewData["Title"] = "User logged out";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>You've been logged out.
        <a class="nav-link" asp-area="" asp-page="/Index">Click to continue.</a>
    </p>
}
